.tabs-number{
  position: relative;

  .tabs-number-tab{}
  .tabs-number-badge{
    position: absolute;
    top: 0;
    right: -16px;

    //font-size: 12px;
    //color: #ffffff;
    //background-color: red;
    //box-shadow: 0 0 0 1px #ffffff;
    //
    //border-radius: 18px;
    //height: 18px;
    //line-height: 18px;
    //min-width: 18px;
    //text-align: center;
    //padding: 0 5px;
  }
}