// @import '../../../less/color';
// @import "../../global/style/base";
.ImageMagnifier.lunbo_pic_box{
  position: relative;
  display: inline-block;
  vertical-align: top;
  .small_pic_box {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
    .small_pic {
      width: 300px;
      height: 300px;
      border: 1px solid #D8DDE6;
      border-radius: 5px;
    }
    .slider {
      width: 150px;
      height: 150px;
      background: #fa7641;
      opacity: .6;
      cursor: move;
      position: absolute;
      top: 0;
      left: 0;
      //display: none;
    }
  }
  .big_pic_box {
    width: 300px;
    height: 300px;
    border: 1px solid #fa7641;
    position: absolute;
    z-index: 9999;
    right: -320px;
    top: 0;
    overflow: hidden;
    .big_pic {
      width: 600px;
      height: 600px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
