/*
.ant-modal-body {
  max-height: 500px;
  overflow-y: auto;
}

.dialog-wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color:#000;
  z-index: 1000;
  background-color: rgba(0,0,0,.75);

  .dialog{
    position:absolute;
    top:50%;
    left:50%;
    width:500px;
    height:200px;
    margin-left:-250px;
    margin-top:-100px;
    background:#fff;
    border:1px solid #b5b0af;
    z-index: 210;

    &-title{
      height:38px;
      padding-left:20px;
      line-height:38px;
      font-size:14px;
      color:#564b3e;
      text-align:left;
      background:#f4f3f2;
      border-bottom:1px solid #b5b0af;
    }

    &-button{
      padding-top:10px;
      clear:both;
      text-align:center;

      a{
        display:inline-block;
        width: 115px;
        height:34px;
        line-height: 34px;
        margin: 0 5px;
      }

      .cancel{
        // color:#777;
        // border: 1px solid @color-high-khaki;
      }

      .ok{
        // color:#fff;
        // background:@color-gold-orange;
        // border: 1px solid @color-gold-orange;
      }
    }

    &-close{
      display:block;
      position:absolute;
      top:12px;
      right:12px;
      width:12px;
      height:12px;
      background: url(/image/dialog-close.png) no-repeat 0 -12px;
    }
  }
}

.comfirm-modal, .info-modal {
  .ant-modal-footer {
    // padding: 10px 172px;
    text-align: center;
    //display: flex;
    //justify-content: space-around;
    //flex-direction: row-reverse;
  }
}
.info-modal {
  .fx-end {
    justify-content: flex-end;
  }
  .fx {
    display: flex;
  }
  .fx-between {
    justify-content: space-between;
  }
  .fx-around {
    justify-content: space-around;
  }
  .col-12 {
    width: 50%;
    display: inline-block;
  }
  &.no-select {
    user-select: none;
  }
  .ant-modal-header {
    cursor: move;
  }
}
div.ant-modal-wrap {
  overflow: hidden;
}
.lightwarp{
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border: 1px solid #5e544d;
}
*/
