@import "~@mix";

.comp__collapsible-form-box {
  padding: 0 20px;
  box-shadow: 0px 2px 12px 0px rgba(35,35,35,0.04);
  border-radius: 3px;
  display: flex;
  justify-content: space-between;

  .collapsible-form-box__content {
    width: calc(~"100% - 113px");

    >div:first-child {
      position: relative;
      display: flex;
      flex-wrap: wrap;

      overflow: hidden;
      transition: max-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, padding 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
  }

  .collapsible-form-box__footer {
    text-align: right;
    padding: 15px 0;
    position: relative;
    width: 113px;
    display: flex;
    justify-content: flex-end;
  }

  .collapse-controller-advanced {
    color: #888888;
    //color: @primary-color;
    cursor: pointer;
    //position: absolute;
    //right: 0;
    //bottom: 15px;
  }

  .collapse-controller {
    color: @primary-color;
    cursor: pointer;
  }

  .collapse-icon, .collapse-icon-advanced {
    margin-left: 5px;
    font-size: 10px;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
  }

  .button-box {
    transition: height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    .ant-btn-primary {
      // box-shadow: 0 2px 10px 0 rgba(39, 129, 255, 0.3);
      box-shadow:0 2px 10px 0 rgba(115,145,83,0.4);
      border-radius:3px;
    }
    display: flex;
    justify-content: space-between;
    // button {
    //   &:last-child {
    //     margin-left: 5px;
    //   }
    // }
  }
}

.comp__collapsible-form-box.expanded {
  .collapsible-form-box__content {
    >div:first-child {
      padding-top: 15px;
      max-height: 1000px;
    }
  }

  .collapse-icon {
    transform: rotate(-90deg);
  }

  .button-box {
    opacity: 1;
    height: 47px;
    visibility: visible;
    padding-bottom: 15px;
  }
}

.comp__collapsible-form-box.zipped {
  .collapsible-form-box__content {
    >div:first-child {
      padding-top: 0;
      max-height: 0;
    }
  }

  .collapse-icon {
    transform: rotate(90deg);
  }

  .button-box {
    opacity: 0;
    height: 0;
    visibility: hidden;
    padding-bottom: 0;
  }
}

.comp_advanced-box {
  >div:first-child {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    overflow: hidden;
    transition: max-height 300ms ease 0ms, padding 300ms ease 0ms;
  }
}

.comp_advanced-box.zipped {
  >div:first-child {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    overflow: hidden;
    transition: max-height 300ms ease 0ms, padding 300ms ease 0ms;
    padding-top: 0;
    max-height: 0;
  }
}

.comp_advanced-box.expanded {
  //padding-top: 15px;
  max-height: 1000px;
  >div:first-child {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    overflow: hidden;
    transition: max-height 300ms ease 0ms, padding 300ms ease 0ms;
  }
}


.collapse-icon-advanced{
  &.up {
    transform: rotate(90deg);
  }
  &.an {
    transform: rotate(-90deg);
  }
}
