.account-box {
  float: right;
  div {
    float: left;
  }
  > * {
    vertical-align: middle;
  }

  .avatar {
    margin-right: 10px;
  }

  .slash {
    font-size: 17px;
    margin: 0 18px;
    border-right: 1px solid #E7E7E7;
  }

  .as-btn {
    cursor: pointer;
  }

.premission_btn{
  display: inline-block;
  padding:0 10px;
  cursor: pointer;
  position: relative;
  .text{
    position: relative;
  }
  .count{
    position: absolute;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    right: 0;
    top:0px;
    z-index: 0;
  }
}
.premission_btn:hover{
  background: #5E7A40;
}
  
}
