@import "~@mix";

@min-width: 1070px; // 最小宽度
.layout--menu-layout {
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 410px;

  .layout--sider.ant-layout-sider-collapsed .logo {
    width: 26px;
    // background-image: url("../assets/images/logo-sider-small.png");
  }
  .layout--sider {
     z-index: 2;
   }

  .layout--header {
    background: #384451;
    box-shadow:0px 2px 10px 0px rgba(0,50,40,0.19);
    z-index: 11;
    height: 50px;
    line-height: 50px;
    // background: linear-gradient(315deg,rgba(96,128,66,1) 0%,rgba(96,128,66,1) 100%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: @min-width;
  }
  .ant-layout-header {
    padding-left: 0;
    padding-right: 20px;
  }

  .header-menu-box {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;

    div {
      cursor: pointer;
      margin-right: 25px;
      height: 20px;
      line-height: 20px;
      font-size:14px;
      //font-family: PingFangSC-Semibold, sans-serif;
      font-weight: 200;
      color:rgba(255,255,255,1);
      &.header-menu-box-aciton{
        font-size: 20px;
        position: relative;
        font-weight: 400;

        &:after{
          clear: both;
          content: "";
          position: absolute;
          width: 100%;
          height: 5px;
          background: @active-color;
          bottom: -15px;
          left: 0;
        }
      }
    }
    &:after{
      .clear();
    }
  }

  .layout--content-wrapper {
    overflow: auto;
    max-height: 100vh;
    // height: calc(~"100% - 50px");
    height: 100%;
    position: relative;
    // 重新设置滚动条的样式问题
    // ::-webkit-scrollbar {
    //   width:0px;
    // }
    // /* 滚动槽 */
    // ::-webkit-scrollbar-track {
    //   -webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
    //   border-radius:10px;
    // }
    // /* 滚动条滑块 */
    // ::-webkit-scrollbar-thumb {
    //   border-radius:10px;
    //   background:rgba(0,0,0,0.1);
    //   -webkit-box-shadow:inset006pxrgba(0,0,0,0.5);
    // }
    // ::-webkit-scrollbar-thumb:window-inactive {
    //   background:#f3f3f3;
    // }

    .layout--content-wrapper-bg{
      &:before{
        clear: both;
        content: "";
        display: block;
        height: 250px;
        width: 100%;
        min-width: @min-width;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(315deg,rgba(96,128,66,1) 0%,rgba(96,128,66,1) 100%);
      }
      &:after{
        clear: both;
        content: "";
        display: block;
        height: 250px;
        width: 100%;
        min-width: @min-width;
        position: absolute;
        top: 0;
        left: 0;
        background:linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(247,248,251,1) 100%);
      }
    }
  }

  .menu-box {
    background-color: #313B47;
    // height: calc(~"100% - 50px");
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    //box-shadow: 0 2px 10px 0 rgba(204,204,204,0.36);
    // ::-webkit-scrollbar {
    //   width:0px;
    // }
    // /* 滚动槽 */
    // ::-webkit-scrollbar-track {
    //   -webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
    //   border-radius:10px;
    // }
    // /* 滚动条滑块 */
    // ::-webkit-scrollbar-thumb {
    //   border-radius:10px;
    //   background:rgba(0,0,0,0.1);
    //   -webkit-box-shadow:inset006pxrgba(0,0,0,0.5);
    // }
    // ::-webkit-scrollbar-thumb:window-inactive {
    //   background:#f3f3f3;
    // }
  }

  .layout--content {
    position: relative;
    padding: 0 20px 40px;
    margin-bottom: 10px;
    min-width: @min-width;
    //min-height: 100%;
    box-sizing: border-box;
    //overflow: auto;

    &>.ant-spin-nested-loading>.ant-spin-container{
      min-height: 500px;
    }
  }

  .logo-box {
    width: 196px;
    height:50px;
    background: #313B47;
  }

  .logo {
    margin: 0 auto;
    width: 126px;
    height: 100%;
    background-image: url("../../assets/images/logo-header-icon-new.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .account-box {
    float: right;
  }
  .ellipsis_menu_icon{
    width: 45px;
    text-align: center;
    position: relative;
    z-index: 9;
    &:hover{
      background: #5E7A40;
      cursor: pointer;
    }
    .anticon-ellipsis{
     vertical-align: middle;
    }
    .ellipsis_menu_pannel{
      transition: all 0.3s ease;
      // height: 0;
      overflow: hidden;
      position: absolute;
      z-index: 2;
      top:50px;
      width:130px;
      margin:0;
      padding:0;
      li{
        background: #393842;
        height: 40px;
        font-size: 14px;
        line-height: 40px;
        cursor: pointer;
      }
      li:hover{
        background: #739153;
      }
    }
  }
}
