.comp_side-menu {
  padding: 10px 0;
  width: 100%;

  .self-icon {
    vertical-align: -0.01em !important;
  }
  .submenu-icon, .submenu-title {
    // vertical-align: middle;
    // line-height: 32px;
  }
  // .submenu-icon {
  //   width: 18px;
  //   height: 18px;
  //   margin-right: 10px;
  //   display: inline-block;
  //   text-align: center;
  // }
  //
  // &.ant-menu-inline-collapsed .submenu-icon {
  //   margin-right: 30px;
  // }
}
