.comp_common-error-model {
  .inputAreaCom {
    min-width: 450px;
    margin: auto;
    .form {
      font-size: 12px;
      margin-right: 15px;
      margin-top: 10px;
    }
    .inputArea {
      width: 380px;
      height: 54px;
      vertical-align: top;
    }
  }
}