.file-modal{
  width: 300px!important;
  .ant-modal-content{
    .ant-modal-body{
      display: flex;
      flex-direction: column;
      align-items: center;
      .comp_upload-file{
        margin-bottom: 20px;
      }
      .comp_upload-file:nth-last-child(1){
        margin-bottom: 0;
      }
    }
  }
}
