/*
 * @Description: 样式
 * @company: YH
 * @Author: chengcheng
 * @Date: 2019-09-20 17:37:08
 * @LastEditors: chengcheng
 * @LastEditTime: 2019-09-26 15:12:55
 */
/* 边距 */
@border: 2px;

.outbound-order{
  width: 100%;
  height: 100%;
  overflow: hidden;
  *{
    font-size: 14px;
    color: #000;
  }
  .orderNo{
    padding-left: @border;
    margin-bottom: 5px;
  }
  .title{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .header{
    //margin: -12px -16px;
    background-color: #fff;
    overflow: hidden;
  }
  .body .ant-descriptions{
    margin-bottom: 0;
    margin-top: 10px;
    padding: 5px 0;
    text-align: center;
    border: 1px solid #e8e8e8;
    border-bottom: 0;
    font-size: 14px;
  }
  .footer{
    margin-top: 10px;
    background-color: #fff;
  }
  .item{
    font-size: 14px;
    font-weight: 600;
    padding: 0 @border;
  }
  .signature{
    @extend .item;
    padding: @border;
  }

  .printInfo {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    margin-bottom: 5px;
  }

  .noprint{
    position: absolute;
    top: 0;
    left: 0;
    span{
      color: #fff;
    }
  }

  @media print {
    .noprint{
      display: none;
    }
  }

  table{
    font-size: 14px;
    border-color: #cacaca !important;
    border-radius: 0 !important;
  }

  tr > th,
  tr > td {
    font-size: 14px;
    padding: 0px @border !important;
    border-color: #cacaca !important;
  }
}
