/*
 * 页面头部面包屑
 * Created by Zero on 2019/05/10
 */
@import "~@mix";

.comp_breadcrumb-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &.gap {
    padding-top: 5px;
    padding-bottom: 6px;
  }
  .ant-breadcrumb.breadcrumb-box{
    padding: 10px 0;
    font-size: 12px;
    font-weight: 200;

    > span:last-child .ant-breadcrumb-link {
      font-weight: 400;
      font-size: 13px;
    }
  }

  .right-box {
    .fr {
      float: left;
    }
  }

  // btn - 主题色
  .ant-btn {
    &.ant-btn-primary {
      color: #ffffff;
      background-color: #403F47;
      border-color: #2d2c34;

      > i {
        color: @primary-color;
      }
      &[disabled] {
        background-color: #888888;
        border-color: #8D8D8D;
      }
    }
  }
}
