@import "~@mix";

.login-form{
  background-color: #FFFFFF;
  box-shadow: 0 10px 20px 0 rgba(92,92,92,0.23);
  //border-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  width: 330px;
  height: 429px;
  padding: 50px 57px;
  box-sizing: border-box;
  .flex-column{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .hidden{
    display: none;
  }
  .flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .back{
    font-size: 14px;
    color: @primary-color;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .back-icon{
    width: 10px;
    height: 9px;
    margin-right: 6px;
  }
  .error-icon{
    width: 12px;
    height: 12px;
    margin-right: 5px;
  }
  .title{
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    letter-spacing: 1.07px;
    border-bottom: 2px solid @primary-color;
    padding-bottom: 7px;
  }
  .subtitle{
    font-size: 20px;
    letter-spacing: 1.07px;
    color: #999999;
  }
  .oa {
    margin-left: 20px;
  }
  .login-footer{
    position: relative;
    .auto-login{
      position: absolute;
      top: -28px;
    }
  }

  .submit{
    width: 100%;
    height: 46px;
    background-color: @primary-color;
    border-radius: 3px;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    //box-shadow:0px 7px 16px 0px rgba(115,145,83,0.4);
    outline: none;
    &[disabled]{
      opacity: .5;
      //box-shadow:0px 7px 16px 0px rgba(115,145,83,0.4);
    }
  }
  .login-tip{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    letter-spacing: 0;
    color: #F55858;
    margin-top: 8px;
    a{
      color: @primary-color;
    }
    span{
      max-width: 150px;
      display: flex;
      align-items: center;
      height: 17px;
    }
  }
  .login-inps{
    position: relative;
    .shinningInput{
      height: 30px;
      & + .shinningInput {
        margin-top: 30px;
      }
    }
    .get-code{
      display: block;
      position: absolute;
      bottom: 35px;
      right: 0;
      width: 84px;
      height: 25px;
      border-radius: 14px;
      line-height: 25px;
      background-color: #EEF6EC;
      font-size: 12px;
      color: @primary-color;
      letter-spacing: 0;
      text-align: center;
    }
  }

  .logo{
    .logo-img{
      width: 100%;
    }
  }
}
//@media screen and (min-width: 1600px) {
//  .login-form{
//    width: 380px;
//    height: 500px;
//  }
//}
