@min-width: 330px; // 最小宽度

.page__login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgba(235,240,228,1);

  position: relative;
  min-height: 580px;
  background-size: 100% 100%;
  min-width: @min-width;
  background:linear-gradient(315deg,rgba(11,105,235,1) 0%,rgba(39,129,255,1) 100%);
  // z-index: -1;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../assets/images/login-bg.png');
    background-size: contain;
    z-index: 1;
  }
  .login-content{
    width: @min-width;
    height: 429px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 2;
    .login-pic{
      width: 100%;
      height: 100%;
    }
    .login-left{
      display: flex;
      width: 510px;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
    }
    .left-title{
      display: flex;
      align-items: center;
      .logo-img{
        width: 240px;
      }
      .logo-title{
        font-size: 24px;
        margin-left: 46px;
        color: #fff;
        position: relative;
        &::before{
          content: '';
          width: 1px;
          background-color: #fff;
          position: absolute;
          left: -22px;
          height: 29px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}
//@media screen and (min-width: 1600px) {
//  .page__login{
//    .login-content{
//      width: 980px;
//      height: 500px;
//      .login-left{
//        width: 600px;
//      }
//      .left-title{
//        .logo-img{
//          width: 350px;
//        }
//      }
//    }
//  }
//}
