@import "~@mix";

.shinningInput {
  // @primary-color: @primary-color;
  // #E8ECEF: #E8ECEF;

  position: relative;

  label {
    position: absolute;
    font-size: 18px;
    transition: all 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    color: #DEDEDE;
    bottom: 3px;
    z-index: 3;
  }

  input {
    font-size: 18px;
    padding: 0 0 3px 0;
    border: none;
    outline: none;
    width: 100%;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
    -webkit-text-fill-color: #595959 !important;
  }
  ::-webkit-input-placeholder {
    color: #ccc
  }

  &::before {
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 2px solid #E8ECEF;
    pointer-events: none;
  }

  &::after {
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-bottom: 2px solid @primary-color;
    pointer-events: none;
  }

  &.focused {
    label{
      font-size: 12px;
      color: @primary-color;
      letter-spacing: 0;
      bottom: 33px;
    }
    .cover{
      display: none;
    }

    &::after {
      transform: scaleX(1);
    }
  }
  &.blured {

    &:hover::before {
      border-bottom: 2px solid @primary-color;
    }

    &::after {
      transform: scaleX(0);
    }
  }
  .cover{
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: white;
    bottom: 9px;
    z-index: 1;
  }
}
