.write-off-detail {
  .detail-header {
    background: #fff;
    margin-bottom: 15px;
    border-radius: 3px;
    box-shadow: 0px 2px 12px 0px rgba(35, 35, 35, 0.04);
    font-size: 12px;
    padding: 15px 20px 0 20px;
    .ant-descriptions-item-label, .ant-descriptions-item-content {
      font-size: 12px;
    }
  }

  .detail-body {
    background-color: #fff;
    padding-bottom: 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(35, 35, 35, 0.04);
    .ant-descriptions-title {
      padding: 10px 15px 0;
      margin-bottom: 10px;
    }
  }
}