.config-view{
  width: 50%;
  text-align: center;
  position: relative;

  .config-container{
    width: 500px;
    height: 700px;
    border: 1px solid #E4E4E4;
    position: relative;
    margin: 0 auto;
    margin-top: 48px;
    padding: 15px;
  }
  .activity-type-box{
    width: 375px;
    height: 375px;
    margin: 0 auto;
    background-color: #F2F2F2;
    border: 1px solid #E4E4E4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-w{
    width: 250px;
    margin: 15px 0;
  }
  .example-img{
    width: 100%;
  }
  .actRemark{
    resize:none
  }
  .number-words{
    text-align: right;
  }
}