@import "~@mix";

.page-table{
  .upload-again{
    cursor: pointer;
    color: @primary-color;
  }
  .thumbnail{
    display: block;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}