.result-view{
  width: 50%;
  text-align: center;
  position: relative;

  .result-content{
    width: 395px;
    margin: 0 auto;
    border: 1px solid #E4E4E4;
    position: relative;
    padding: 40px 10px;
    border-radius: 30px;
  }
  .btn-l, .btn-r{
    position: absolute;
    top: 50%;
  }
  .btn-l{
    left: -60px;
  }
  .btn-r{
    right: -60px;
  }
  .update-bg{
    margin-top: 15px;
    display: block;
  }

  .activity-box{
    width: 375px;
    height: 667px;
    overflow-y: auto;
    position: relative;
    background-color: #F2F2F2;
    border: 1px solid #cccccc;
  }
  .result-bg{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .result-box{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;

    .show-window{
      width: 100%;
      height: 100%;
    }
  }

  // 九宫格
  .sudoku-box{
    width: 303px;
    height: 303px;

    .box{
      border-top: 1px solid #9D9D9D;
      border-left: 1px solid #9D9D9D;
    }
    .box-item{
      width: 100px;
      height: 100px;
      border-bottom: 1px solid #9D9D9D;
      border-right: 1px solid #9D9D9D;
      line-height: 100px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;

      &:nth-child(5) {
        background-image: url("../../../assets/images/btn-start.png");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  .success{
    height: 100%;
    text-align: left;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .tips-h1{
      font-size:32px;
      font-family:PingFangSC;
      font-weight:600;
      color:#FFFFFF;
      line-height:40px;
    }
    .tips-h3{
      font-size:20px;
      font-family:PingFangSC;
      font-weight:600;
      color:#FFFFFF;
      line-height:28px;
    }

    .prize{
      &-group{
        width:335px;
        height: 250px;
        overflow-y: auto;
      }
      &-box{
        width:335px;
        height:100px;
        background:#FFFFFF;
        border-radius:10px;
        margin-bottom: 10px;
        padding: 10px;
      }
      &-img{
        width:80px;
        height:80px;
        float: left;
        overflow: hidden;

        img{
          width: 100%;
        }
      }
      &-name{
        font-size:18px;
        font-family:PingFangSC;
        font-weight:600;
        color:rgba(250,100,0,1);
        line-height:25px;
        margin-top: 14px;
      }
      &-info{
        font-size:14px;
        font-family:PingFangSC;
        font-weight:400;
        color:rgba(51,51,51,1);
        line-height:20px;
        margin-top: 8px;
      }
    }
    .tax-cost{
      width:335px;
      height:50px;
      background:#FFFFFF;
      border-radius:10px;
      text-align: right;
      line-height: 50px;
      padding: 0 20px;

      span{
        font-size:15px;
        font-family:PingFangSC;
        font-weight:500;
        color:rgba(51,51,51,1);
        line-height:21px;

        &:last-child{
          color: #FA6400;
        }
      }
    }
    .note{
      font-size:12px;
      font-family:PingFangSC;
      font-weight:400;
      color:#FFFFFF;
      line-height:17px;
    }
    .btn-submit{
      width:335px;
      height:50px;
      background:linear-gradient(180deg,rgba(255,218,122,1) 0%,rgba(255,163,0,1) 100%);
      border-radius:25px;
      font-size:16px;
      font-family:PingFangSC;
      font-weight:600;
      color:rgba(86,65,8,1);
      line-height:50px;
      text-align: center;
    }
  }
}