@import "~@mix";
.editable-row{
  .affirm, .cancel, .edit{
    height: 14px;
    line-height: 14px;
    padding: 0 !important;
    margin: 0 8px;
  }
}
  .ant-table-fixed-right{
    z-index: 100!important;
  }
