@keyframes moveDown {
  from {transform: translateY(-33px)}
  to {transform: translateY(0)}
}
@keyframes moveUp {
  from {transform: translateY(33px)}
  to {transform: translateY(0)}
}
@keyframes moveLeft {
  from {transform: translateX(156px)}
  to {transform: translateX(0)}
}
@keyframes moveRight {
  from {transform: translateX(-156px)}
  to {transform: translateX(0)}
}
@keyframes moveRightUp {
  from {transform: translate(-156px, 33px)}
  to {transform: translate(0)}
}
@keyframes moveRightDown {
  from {transform: translate(-156px, -33px)}
  to {transform: translate(0)}
}
@keyframes moveLeftDown {
  from {transform: translate(156px, -33px)}
  to {transform: translate(0)}
}
@keyframes moveLeftUp {
  from {transform: translate(156px, 33px)}
  to {transform: translate(0)}
}
.custom-table-header{
  label{
    width: 120px;
    margin-bottom: 15px;
    display: block;
    float: left;
  }
  .dragItem {
    cursor:pointer;
  }
  .draged {
    color: rgba(0, 0, 0, 0.5);
  }
  .moveDown {
    animation: 0.3s ease-in-out moveDown;
  }
  .moveUp {
    animation: 0.3s ease-in-out moveUp;
  }
  .moveLeft {
    animation: 0.3s ease-in-out moveLeft;
  }
  .moveRight {
    animation: 0.3s ease-in-out moveRight;
  }
  .moveRightUp {
    animation: 0.3s ease-in-out moveRightUp;
  }
  .moveRightDown {
    animation: 0.3s ease-in-out moveRightDown;
  }
  .moveLeftDown {
    animation: 0.3s ease-in-out moveLeftDown;
  }
  .moveLeftUp {
    animation: 0.3s ease-in-out moveLeftUp;
  }
  .noWrap {
    white-space: nowrap;
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .disabledraggalbe{
    color: #969494;
  }
}
