.activity-cost-statistics-detail {
  .detail-header {
    background: #fff;
    margin-bottom: 15px;
    border-radius: 3px;
    box-shadow: 0px 2px 12px 0px rgba(35, 35, 35, 0.04);
    font-size: 12px;
    padding: 15px 20px 0 20px;
    .ant-descriptions-item-label, .ant-descriptions-item-content {
      font-size: 12px;
    }
  }
}