.activity-cost-statistics-detail {
  .page-table {
    .ant-table-title {
      height: 40px;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      line-height: 40px;
    }
    .footer-sum {
      font-size: 14px;
      font-weight: 600;
      padding: 0 2px;
    }
  }
}