@import "~@mix";

.comp__loadingWrap{
  position: absolute !important;
  width: 10em;
  height: 10em;
  //background: url("../../assets/images/loading.gif") no-repeat center;
  //background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto !important;

  /*.loader {
    color: @primary-color;
    font-size: 20px;
    margin: auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    text-indent: -9999em;
    //-webkit-animation: load4 .5s linear infinite;
    //animation: load4 .5s linear infinite;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    -webkit-animation: typing 1s linear infinite alternate;
    -moz-animation: Typing 1s linear infinite alternate;
    animation: typing 1s linear infinite alternate;
  }*/
}
/*


@-webkit-keyframes typing {
  0% {
    background-color: @primary-color;
    box-shadow: 2em 0 0 0 rgba(255,255,255,.2), 4em 0 0 0 rgba(255,255,255,.2)
  }

  25% {
    background-color: rgba(255,255,255,.4);
    box-shadow: 2em 0 0 0 @primary-color, 4em 0 0 0 rgba(255,255,255,.2)
  }

  75% {
    background-color: rgba(255,255,255,.4);
    box-shadow: 2em 0 0 0 rgba(255,255,255,.2), 4em 0 0 0 @primary-color
  }
}

@-moz-keyframes typing {
  0% {
    background-color: @primary-color;
    box-shadow: 2em 0 0 0 rgba(255,255,255,.2), 4em 0 0 0 rgba(255,255,255,.2)
  }

  25% {
    background-color: rgba(255,255,255,.4);
    box-shadow: 2em 0 0 0 @primary-color, 4em 0 0 0 rgba(255,255,255,.2)
  }

  75% {
    background-color: rgba(255,255,255,.4);
    box-shadow: 2em 0 0 0 rgba(255,255,255,.2), 4em 0 0 0 @primary-color
  }
}

@keyframes typing {
  0% {
    background-color: @primary-color;
    box-shadow: 2em 0 0 0 rgba(255,255,255,.2), 4em 0 0 0 rgba(255,255,255,.2)
  }

  25% {
    background-color: rgba(255,255,255,.4);
    box-shadow: 2em 0 0 0 @primary-color, 4em 0 0 0 rgba(255,255,255,.2)
  }

  75% {
    background-color: rgba(255,255,255,.4);
    box-shadow: 2em 0 0 0 rgba(255,255,255,.2), 4em 0 0 0 @primary-color
  }
}
*/
