.cmp_start-and-end-date-picker{

  .date-flex {
    display: flex;
    justify-content: space-between;
    line-height: 32px;
  }

  .ant-input {
    padding: 4px 9px;
  }

  &.show-format-date{
    .ant-form-item-control {
      width: auto !important;
    }
  }
}
