@import "./assets/styles/normalize.css";
@import "./assets/styles/antd-theme";
@import "./assets/styles/reset-antd";
@import "./assets/styles/common";

body {
  position: relative;
  min-width: 1280px;
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// iconfont
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// 警告颜色
.red{
  color: red;
}

.ant-input {//ie input 文字垂直居中
  line-height: 1.5;
}