// 主题配置

@font-size-base: 12px;

@primary-color: #1890ff;
@active-color: #40a9ff;

// layout
@layout-header-background: #fff;
@layout-header-height: 50px;
@layout-header-padding: 0 40px;

// menu
@menu-inline-toplevel-item-height: 36px;
@menu-item-height: 32px;
@menu-collapsed-width: 50px;
@menu-popup-bg: #333;

// tabs
@tabs-bar-margin: 0;
@tabs-title-font-size: 14px;
@tabs-highlight-color: #52545C;
@tabs-card-height: 36px;
@tabs-card-active-color: #52545C;
@tabs-card-head-background: #EEE;
@tabs-horizontal-padding: 12px 0;

// table
@table-padding-vertical: 0;
@table-padding-horizontal: 2px;
@table-expanded-row-bg: transparent;

// pagination
@pagination-item-size: 24px;

// menu
@menu-inline-toplevel-item-height: 36px;
@menu-item-height: 32px;
