/**
 * @author [Jimmy]
 * @create date 2019-04-24 13:51:42
 */
@import "./common-theme.less";
@charset "utf-8";
// 间距类
.common-space() {
  .ml5 {
    margin-left: 5px;
  }
}

// 通用头部表单
.common-header-form() {
  .ant-calendar-picker {
    display: block;
  }
}


.ellipsis(){
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.display-flex(){
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.wrap(){
  text-wrap: none;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  word-wrap: break-word;
}

// ellect：设置居中
.middle(){
  position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin: auto;
}

// 公共边框阴影
.box-shadow(){
  box-shadow: 0px 3px 10px 0px rgba(33, 49, 123, 0.1);
}

// ellect: :after伪类+content 清除浮动的影响
.clear(){
  clear: both;content: "";display: table;visibility: hidden;height: 0;
}

// 按钮主题色
.ant-btn-theme() {
  // btn - 主题色
  .ant-btn {
    &.ant-btn-primary {
      background-color: #403F47;
      color: #ffffff;
      border-color: #2d2c34;

      > i {
        color: @primary-color;
      }

      &[disabled] {
        background-color: #888888;
        border-color: #8D8D8D;
      }
    }
  }
}