/**
 * Created by 李华良 on 2018/11/28
 * changed by Jimmy on 2018/04/22
 */
@import "~@mix";

dl,
ol,
ul {
  margin: 0;
  padding: 0;
}
// layout
.ant-layout {
  background-color: #F0F2F5;
}

.ant-layout-sider-collapsed {
  flex: 0 0 50px!important;
  max-width: 50px!important;
  min-width: 50px!important;
  width: 50px!important;
}
// back-top
.ant-back-top {
  right: 20px;
}
// menu
.ant-menu {
  &.ant-menu-inline {
    background-color: #313B47;
    color: #ffffff;

    .ant-menu-item {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 40px!important;
    }

    .ant-menu-item:not(:last-child) {
      margin-bottom: 0;
    }

    .ant-menu-item:last-child {
      margin-bottom: 20px;
    }

    .ant-menu-submenu-title {
      padding-left: 16px !important;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 14px;
      color: #FFFFFF;
      font-weight: 400;
      //font-family: PingFang-SC-Medium, sans-serif;
      &:hover {
        color: @primary-color;
      }

      & > * {
        vertical-align: middle;
      }
    }

    .ant-menu-submenu-arrow {
      &:after, &:before{
        background-image: linear-gradient(to right, #ffffff, #ffffff);
      }
    }

    .ant-menu-sub.ant-menu-inline {
      background-color: rgba(0, 0, 0, 0.227450980392157);
    }
  }

  .ant-menu-submenu-open .ant-menu-submenu-title {
    //color: @primary-color;
    i{
      color:#D8D8D8;
    }
  }

  .ant-menu-item:after {
    display: none;
  }

  .ant-menu-item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-left: 3px solid @primary-color;
    opacity: 0;
  }

  .ant-menu-item.ant-menu-item-selected:before {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 1;
    transform: scaleY(1);
  }

  .ant-menu-inline .ant-menu-item {
    font-size: 14px;
    color: #999999;
    font-weight: 200;
  }

  .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
    padding-left: 16px!important;
  }

  .ant-menu-inline-collapsed {
    // 折叠状态样式
    margin-top: 10px;

    .ant-menu-submenu-title::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 3px;
      background-color: @primary-color;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    .ant-menu-submenu-active .ant-menu-submenu-title {
      background-color: #EEF6EC;

      &::before {
        opacity: 1;
      }
    }

    &.ant-menu-vertical .ant-menu-submenu-title {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .ant-menu-item {
    & > a {
      font-size: 12px;
      color: rgba(255,255,255,.6);

      &:hover {
        color: @primary-color;
      }
    }

    &.ant-menu-item-selected {
      background-color: @primary-color;
      color: #ffffff;

      & > a {
        color: #ffffff;
      }

      &::before {
        display: none;
      }
    }
  }

  .ant-menu-inline .ant-menu-item,
  .ant-menu-inline .ant-menu-submenu-title {
    width: 100%;
  }
}

.ant-menu-inline,
.ant-menu-vertical {
  border-right: none;
}
// button
.ant-btn {
  font-size: 14px;
  line-height: 1;
  padding: 0 10px;
}

.ant-btn[disabled] {
  border-color: none;
}

.ant-btn-link {
  padding: 0;
}
//.ant-btn-primary:not(.ant-btn-background-ghost) {
//  box-shadow:0px 2px 12px 0px rgba(35,35,35,0.04);
//}

.ant-btn-background-ghost[disabled] {
  background-color: #f5f5f5!important;
  border-color: none;
}
//.ant-btn-primary:not(.ant-btn-background-ghost)[disabled] {
//background: rgba(39, 129, 255, 0.47);
//box-shadow: 0 2px 10px 0 rgba(39, 129, 255, 0.29);
//border-color: rgba(54,179,33,0.01);
//color: #ffffff;
//}
// tabs
.ant-tabs {
  color: #999999;
  //overflow: visible;
  &.ant-tabs-card {
    & > .ant-tabs-bar {
      border-bottom: none;
      margin-bottom: 0;
    }

    .ant-tabs-card-bar {
      .ant-tabs-tab {
        background-color: #EEEEEE !important;
        color: #999999;
        min-width: 100px;
        text-align: center;
        line-height: 36px;
        border: none !important;
        margin-right: 5px !important;
        font-size: 14px;
        //font-family: PingFang-SC-Medium, sans-serif;
        &:hover {
          color: @primary-color;
        }
      }

      .ant-tabs-tab-active {
        background-color: #ffffff !important;
        color: #52545C !important;
        font-size: 14px;
        //font-family: PingFangSC-Semibold, sans-serif;
        &:before {
          content: "";
          width: 40%;
          height: 2px;
          background: @primary-color;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

.ant-tabs-line {
  .ant-tabs-nav {
    //padding: 0 20px;
  }

  .ant-tabs-nav .ant-tabs-tab {
    margin-right: 30px;
  }
}
// upload
// 删除 icon 垂直居中

.ant-upload-list-item .anticon-close {
  transform: translateY(-50%) scale(0.83333333) rotate(0deg);
  top: 50%;
}
// list 模式 icon、文件名垂直对齐

.ant-upload-list-item-info > span * {
  vertical-align: middle;
}
// modal
.ant-modal-confirm-body .ant-modal-confirm-title {
  line-height: 22px;
  // 确保和左侧 icon 垂直对齐
}
// pagination
.ant-table-pagination.ant-pagination {
  float: none !important;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 6px 0 6px !important;

  .ant-pagination-total-text {
    flex-grow: 1;
    font-size: 12px;
    color: #999999;
    //font-family: PingFang-SC-Regular, sans-serif;
    font-weight: 400;
    height: 24px;
    line-height: 24px;
  }

  .ant-pagination-item {
    border: none;
    min-width: 24px;
    height: 24px;
    line-height: 22px;

    a {
      line-height: 24px;
    }
  }

  .ant-pagination-item-active {
    background: @primary-color;

    a {
      color: #ffffff;
    }
  }

  .ant-pagination-item-active:focus a,
  .ant-pagination-item-active:hover a {
    color: #ffffff;
  }

  .ant-pagination-jump-next,
  .ant-pagination-jump-prev,
  .ant-pagination-next,
  .ant-pagination-prev {
    min-width: 24px;
    height: 24px;
    line-height: 22px;
  }

  .ant-pagination-next .ant-pagination-item-link,
  .ant-pagination-prev .ant-pagination-item-link {
    border: none;
    font-size: 14px;
  }

  .ant-pagination {
    font-size: 14px;
  }

  .ant-select-selection--single {
    height: 24px;
  }

  .ant-select-selection__rendered {
    line-height: 22px;
  }

  .ant-pagination-options-quick-jumper {
    line-height: 24px;
    height: 24px;
  }

  .ant-pagination-options-quick-jumper input {
    height: 24px;
  }
}
// table
.ant-table-wrapper {
  background-color: #ffffff;
}

.ant-table {
  .ant-table-thead > tr > th {
    font-weight: 600;
    //font-family: PingFangSC-Semibold, sans-serif;
    color: #52545C;
  }

  @size: 6px;
  .ant-table-tbody > tr > td,
  .ant-table-thead > tr > th {
    padding: @size;
    color: #333333;

    &.ant-table-selection-column {
      padding: @size 0 @size 15px;
    }
  }

  colgroup > col.ant-table-selection-col {
    width: 40px !important;
  }
  /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
  /*.ant-table-body::-webkit-scrollbar {
    width: 2px;
    height: 8px;
    //background-color: #eeeeee;
  }*/
  /*定义滚动条轨道 内阴影+圆角*/
  /*.ant-table-body::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    //background-color: #f0f2f5;
    border-radius: 10px;
  }*/
  /*定义滑块颜色、内阴影及圆角*/
  /*.ant-table-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    //box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #f3f3f3;
  }*/
}
// table

.ant-table {
  @table-row-height: 36px;
  @table-min-height: 440px;
  @empty-img-height: 150px;
  //.ant-table-thead > tr > th, .ant-table-tbody > tr > td {  // 行高
  // height: @table-row-height;
  //}
  //tr.ant-table-expanded-row > td {
  // border-bottom: none;
  //}
  //tr.ant-table-expanded-row .ant-table td {
  // border-bottom: 1px dashed #D2D3D4;
  //}
  table {
    table-layout: fixed;

    p {
      margin: 0;
    }
  }
  // 表格高度
  //.ant-table-body {
  // min-height: @table-min-height;
  //}
  // 暂无数据
  .ant-table-placeholder {
    //position: absolute;
    //top: calc(@table-row-height + 1px);
    //left: 0;
    width: 100%;
    z-index: auto;
    line-height: @table-min-height - @table-row-height;
    height: @table-min-height - @table-row-height;
    color: transparent;
    user-select: none;

    &::before {
      content: "";
      display: block;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 40%;
      left: 50%;
      background-image: url("../images/noContent-new.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: @empty-img-height;
      height: @empty-img-height;
    }

    &::after {
      content: '暂无数据';
      display: block;
      text-align: center;
      position: absolute;
      transform: translate(-50%, -50%);
      top: calc(~"40% + 20px + " @empty-img-height/2);
      color: #333;
      font-size: 14px;
      line-height: 1;
      left: 50%;
    }

    .ant-empty {
      display: none;
    }
  }
}
// // loading
// .ant-table-wrapper .ant-spin-nested-loading {
//   & > div > .ant-spin {
//     max-height: unset;
//   }
//
//   .ant-spin-dot {
//     display: none;
//   }
//
//   .ant-spin {
//     background: #FFFFFF;
//     box-shadow: 0 4px 12px 0 rgba(0,0,0,0.15);
//     border-radius: 4px;
//     padding: 10px 20px 10px 10px;
//
//     position: absolute;
//     width: auto;
//     height: auto;
//     top: 30%;
//     transform: translate(-50%);
//     left: 50%;
//
//     // &::before {
//     //   content: '';
//     //   background-image: url("../../assets/images/loading.gif");
//     //   background-size: contain;
//     //   background-repeat: no-repeat;
//     //   background-position: center;
//     //   height: 60px;
//     //   width: 60px;
//     //   display: inline-block;
//     //   vertical-align: middle;
//     // }
//
//     &::after {
//       content: '加载中...';
//       display: inline-block;
//       font-size: 14px;
//       color: #333333;
//       margin-left: 12px;
//       vertical-align: middle;
//     }
//   }
// }
//
// .ant-popover .ant-table,
// .ant-table-expanded-row .ant-table {  // reset 浮层、表格中的表格
//   .ant-table-body {  // reset 高度
//     min-height: unset;
//   }
//   .ant-table-placeholder {  // reset 暂无数据
//     line-height: 18px;
//     height: unset;
//     color: rgba(0, 0, 0, 0.45);
//
//     &::before, &::after {
//       display: none;
//     }
//   }
// }
// popover 下table样式

.ant-popover {
  .ant-table table {
    table-layout: auto;
  }

  .ant-table-placeholder {
    // 暂无数据
    line-height: 40px;
  }
}
// time-picker
.ant-time-picker-icon .ant-time-picker-clock-icon {
  display: inline;
}
// form
.ant-form {
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 3px;

  .ant-form-item {
    margin-right: 10px;
    margin-bottom: 12px;
  }

  .ant-form-item-label {
    height: 32px;
    line-height: 32px;
    font-weight: 400;
    width: 100px;
    float: left;

    label {
      font-size: 12px;
      font-weight: 500;
    }
  }

  .ant-form-item-control-wrapper {
    float: left;
  }

  .ant-form-item-control {
    width: 200px;
    line-height: normal;
  }
  // 多选框
  .ant-select-selection--multiple .ant-select-selection__rendered > ul > li,
  .ant-select-selection--multiple > ul > li {
    margin-top: 2px;
  }

  .ant-select-selection--multiple {
    height: 32px;
    overflow: hidden;
  }

  .ant-select-selection__rendered {
    height: 30px !important;
    line-height: 30px;

    .ant-select-selection__choice {
      padding: 0 15px 0 2px;
      margin-right: 2px;
      height: 26px;
      line-height: 26px;
      overflow: initial;
    }
  }
  // datePicker
  .ant-calendar-picker {
    width: 200px;
  }
  @media only screen and (max-width: 1320px) {
    .ant-form-item-control {
      width: 180px;
    }

    .ant-calendar-picker {
      width: 180px;
    }
  }
}
// modal 弹窗
.ant-modal{
  top: 50px
}
.ant-modal-content {
  .ant-form-item {
    height: 32px;
    font-size: 13px;
    margin-bottom: 15px;
  }

  .ant-form-item-label {
    width: 30%;
    float: left;
  }

  .ant-form-item-control-wrapper {
    width: 70%;
    float: left;
  }

  .ant-form-item-control {
    width: 250px;
    line-height: normal;
  }

  .ant-form-item-with-help {
    margin-bottom: 24px;
  }

  .ant-select-selection--multiple div.ant-select-selection__rendered {
    height: 100%;
  }
}

.ant-form-explain {
  font-size: 12px;
}

.grop-pc-datapick-dropdown {
  width: 250px;

  .ant-calendar {
    width: 250px;
  }
}
// 选中项一行显示
.ant-select-selection__rendered > ul,
ul.ant-select-selection__rendered {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.ant-select-tree-dropdown .ant-select-tree li {
  margin: 5px 0 !important;
}
//  placeholder 字体粗细 位置

.ant-select-search__field__placeholder,
.ant-select-selection__placeholder {
  // font-weight: 300;
}

// tooltip
.ant-tooltip {
  .ant-tooltip-inner {
    max-height: 250px;
    overflow-y: auto;
  }
}
