@import '~@mix';
@import '~handsontable/dist/handsontable.full.css';

//colors
@color-white:         #ffffff;
@color-coffee:        #5e544d;
@color-black-coffee:  #2a2725;
@color-medium-coffee: #48413c;
@color-light-coffee:  #88675a;
@color-black:         #000000;
@color-dark-grey:     #999999;
@color-light-grey:    #d5d5d5;
@color-gold-orange:   #fa7641;
@color-medium-orange: #eb7241;
@color-light-orange:  #ff895a;
@color-soil-gold:     #ad9356;
@color-golden:        #dbb76c;
@color-high-khaki:    #e5e0de;
@color-medium-khaki:  #ece9e7;
@color-light-khaki:   #f4f3f2;
@color-dark-khaki:    #b5b0af;
@color-grey-khaki :   #c4ad7d;
@color-black-one:     #564b3e;
@color-red-one:       #caa090;
@color-waring:        #fa7641;
@color-blue:          #1890ff;

.handsontable-wrapper{
  text-align: center;
  //padding-bottom: 50px;
  //margin-bottom: 50px;
  .handsontable{
    tr:nth-child(even){
      background: @color-light-khaki;
    }

    th{
      height:30px;
      line-height:30px;
      background-color: #fafafa;
      color: #333333;
      font-weight: 600;

      .relative{
        padding:2px !important;
      }
    }

    td{
      color: #000;
      height:30px;
      line-height:30px;
      text-align: center;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
      background:transparent;
      vertical-align: middle;
    }

    .cuxiao{
      background-image:url(/image/cuxiao.png);
      background-size: 30px 30px;
      background-position: 0 0;
      background-repeat: no-repeat;
    }

    .highlight{
      background: @primary-color;
      color: @color-white;
    }

    .htBorders{
      display:none;
    }

    // 修改单元格
    .input-style{
      /* display: block;
      line-height: 22px;
      height: 22px;
      width: 100%;
      background-color: #fff;
      margin-top: 5px;
      border: 1px solid #b5b0af;
      color:#000;
      box-sizing: border-box;*/
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      height: 20px;
      line-height: 20px;
      border: 1px solid #ccc;
    }

    // 下拉单元格
    .select-style {
      width: 100%;
      vertical-align: middle;
    }

    // 选择框
    .checkbox input, .colHeader-checkbox, .htCheckboxRendererInput{
      width: 20px;
      height: 20px;
      vertical-align: middle;
      appearance: checkbox;
    }

    // 表格固定行样式
    .handsontable thead .ht__highlight {
      background-color: #8eb0e7;
      color:@color-white;
    }
    .handsontable tbody th {
      background: transparent;
      color: @color-coffee;
    }
    .handsontable tbody .ht__highlight {
      background: @color-blue;
      color:@color-white;
    }
  }

  // 封装表格
  .load-more{
    display:inline-block;
    margin:10px auto;
    padding:5px 10px;
    background:#fff;
    border-radius:10px;
    color:@color-dark-grey;
  }
  .load-img{
    width:18px;
    vertical-align:-4px;
  }
  .lighter {
    &:first-child td {
      border-top-color: @color-waring;
    }
    td:first-child {
      border-left-color: @color-waring;
      border-top-color: @color-waring;
    }
    td:last-child {
      border-right-color: @color-waring;
    }
    td {
      border-top-color: @color-waring;
      border-bottom-color: @color-waring;
    }
  }
  .lighter-font {
    color: @color-waring
  }
  .highlight .lighter-font {
    color: @color-white
  }
  &.visible {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .borderBox {
    box-sizing: border-box;
  }
  .htDimmed .htCheckboxRendererInput{
    cursor: not-allowed;
  }

  /* a 标签 模拟样式 */
  .link{
    color: #108ee9;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color .3s ease;
    &:hover, &:active{
      outline: 0;
      text-decoration: none;
    }
    &:hover{
      color: #49a9ee;
    }
    &:active{
      color: #0e77ca;
    }
  }
}
.input-style{
  display: block;
  line-height: 22px;
  height: 22px;
  width: 100%;
  background-color: #fff;
  margin-top: 5px;
  border: 1px solid #b5b0af;
  color:#000;
  box-sizing: border-box;
}
.remark-over-ellipsis{
  display: block;
  width:100%;/*对宽度的定义,根据情况修改*/
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
}
